qrcode?

bootstrap para la pagina web
jquery para AJAX = queries in javascript


IBM CLOUD DATABASE


$.ajax({
        type: 'POST',
        url: "localhost/index.py",
        data: {param : 1}, //passing some input here
        dataType: "text",
        success: function(response){
           output = response;
           alert(output);
        }
    }).done(function(data){
        console.log(data);
        alert(data);
    });



row = ibm_db.fetch_tuple(stmt)
    while ( row ):
        for i in row:
            print(i)
        row = ibm_db.fetch_tuple(stmt)